body{
	background-color:#00bfff;
}

.jumbotron{
	text-align: center;
	background-image: url("../images/west3.jpg");
	color: white;
}

#board{
	text-align: center;
	font-size: 50px;
}

h1, h2{
	text-align: center;
}

#board{
	border:solid 1px black;
}


