body{
	background-color:#00bfff;
}

.jumbotron{
	text-align: center;
	color: black;
	background-image: url("../images/niceBG.jpg");
}

#board{
	text-align: center;
	font-size: 50px;
}

h1, h2, h3{
	text-align: center;
}
p{
	text-align: center;
}

#board{
	border:solid 1px black;
}


footer{
	text-align: center;
	padding: 30px;
	border:solid 1px black;
}